@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --primary-color: #ff7e01;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: var(--font-name);
  background-color: #000 !important;
  color: #fff !important;
}

/* Section Styling */
section {
  padding: 50px 0px;
  background-color: #000 !important;
}

/* Heading Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff !important;
}

/* Link Styling */
a {
  text-decoration: none;
  color: #fff !important;
}

/* List Styling */
ul {
  list-style: none;
}

/* Primary Button */
.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
  background-color: #000 !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff !important;
}

.primary__btn a:hover {
  color: inherit;
}

/* Secondary Button */
.secondary__btn {
  background: transparent !important;
  color: #fff !important;
  border: none !important;
  font-weight: 500 !important;
  background-color: #000 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff !important;
}

.secondary__btn a:hover {
  color: inherit;
}

/* Section Subtitle */
.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff !important;
  background-color: #000 !important;
}
