/* About Page Styles */

.about__content {
    padding-top: 3.5rem;
}

.about__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.about__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.about__section {
    margin-top: 4rem;
}

.about__section h2,
.about__section h3,
.about__section h4 {
    font-size: 2.5rem;
    font-weight: 500;
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.about__section p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__wrapper {
    margin-top: 2.5rem;
}

.counter__box span {
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter__box h6 {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.mission__content {
    margin-top: 3rem;
}

.mission__content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.mission__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.testimonial__title {
    font-size: 2.3rem;
    margin-top: 1rem;
}
