.guide-details-photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .guide-details-info {
    padding: 1rem;
  }
  
  .guide-details-info p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
  }
  