.pagination span {
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color);
  color: var(--heading-color);
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  background: black;
}

.pagination span:hover {
  background: var(--secondary-color);
  color: white;
}

.active__page {
  background: #FFA500 !important;
  color: #fff !important;
  border-color: #FFA500 !important;
}

.review-section {
  background: black;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  color: white;
}

.review-section h5 {
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
}

/* Star Rating */
.star-rating {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.star {
  color: #555;
  transition: color 0.3s;
}

.star.selected {
  color: gold;
}

/* Review List */
.review-list ul {
  list-style-type: none;
  padding: 0;
}

.review-list ul li {
  background: #222;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
  color: white;
}

.review-stars {
  color: gold;
  margin-right: 5px;
  font-size: 18px;
}

.pagination-btn {
  cursor: pointer;
  padding: 5px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: 0.3s;
  background: black;
  color: white;
}

.pagination-btn.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}
